name: IaC PR Validation

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  id-token: write

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init -backend=false

      - name: Terraform Format
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Unit Tests
        run: terraform test

      - name: TFLint
        uses: terraform-linters/tflint-action@v3

      - name: Policy Scan (OPA / Conftest)
        run: |
          conftest test plan.json --policy ./policies
